.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90px;
    padding: 0 50px;
    border-bottom: #FFF solid 0.05px; 
  }
  
  .nav h1 {
    font-weight: 550;
  }
  
  ul li {
    list-style: none;
  }
  
  nav h1 {
   
    font-size: 70px;
    font-weight: 700;
  }
  
  button {
    width: 7.7rem;
    height: 40px;
    background-color: #62BEF5;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 660;
    color: #000;
    border: 3px solid #1441B4;
  }
  
  .landingPage{
    height: 100vh;
  }
  
  .body-landing{
    display: flex;
    height: 100%;
    align-items: center;
    margin: 0 50px;
    overflow: hidden;
  }
  
  
  .landing-content h1 {
    font-weight: 550;
    margin-bottom: 10px;
  
  }
  
  .landing-content {
    width: 50%;
    margin-right: 10px;
  }
  
  .email-area {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
    gap: 20px;
  }
  
  .email-area input{
    height: 40px;
    width: 300px;
    font-size: 20px;
    border: solid 2px ;
    border: 3px solid #1441B4;
    border-radius: 5px;
  }