body {
  font-family: 'Poppins', sans-serif;
  /* background-color: #001425; */
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(8,8,61,1) 100%, rgba(0,212,255,1) 100%);
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 95px;
  /* margin: 0 10px; */
  padding: 0 20px;
   border-bottom: #FFF solid 1px; 
  /* background-color: azure; */
}

ul li {
  list-style: none;
}

nav h1 {
  color: #FFFFFF;
  font-size: 70px;
  font-weight: 700;
}

button {
  width: 123px;
  height: 40px;
  background-color: #62BEF5;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 660;
  color: #000;
  border: 3px solid #1441B4;
}